In [1]:
import pandas as pd

In [2]:
data = pd.read_csv("Fish_Dataset.csv")

In [3]:
def countFish(data):
    n = 0
    for i in range(0,len(data)):
        n = n+ data[i]
    return n

In [4]:
def probXgivenY(data,n):
    result = []
    for i in range(0,len(data)):
        prob = data[i] / n
        result.append(prob)
    return result

In [5]:
def probYgivenX(data,probY):
    result = []
    for i in range(0,len(data)):
        prob = data[i] * probY
        result.append(prob)
    return result

In [6]:
def decision(data1,data2,stat):
    result = []
    if stat==1:
        for i in range(0,len(data)):
            if data1[i]>data2[i]:
                result.append("Salmon")
            elif data1[i]<data2[i]:
                result.append("Seabass")
            else:
                result.append("unknown")
    elif stat==2:
        for i in range(0,len(data1)):
            if data1[i]>data2:
                result.append("Salmon")
            else:
                result.append("Seabass")
    return result

In [7]:
def LikelihoodRatio(data1,data2):
    result = []
    for i in range(0,len(data1)):
        a = data1[i]
        b = data2[i]
        
        if a==0:
            a = 0.000001
            
        if b==0:
            b = 0.000001
        prob = a/b
        result.append(prob)
    return result

Nomor 1

In [8]:
data

    lightness  csalmon  cseabass
0         0.0        0         0
1         0.5        2         0
2         1.0        8         0
3         1.5        4         0
4         2.0        7         0
5         2.5       10         0
6         3.0       12         0
7         3.5        8         1
8         4.0        6         0
9         4.5        8         3
10        5.0        4         3
11        5.5        3         4
12        6.0        1         6
13        6.5        1         5
14        7.0        0        12
15        7.5        0         9
16        8.0        0         9
17        8.5        0         2
18        9.0        0         1
19        9.5        0         2

Nomor 2

In [9]:
nSalmon = countFish(data.csalmon)
nSeabass = countFish(data.cseabass)
nTotal = nSalmon + nSeabass
ProbSalmon = nSalmon / nTotal
ProbSeabass = nSeabass / nTotal

In [10]:
print("Diketahui :")
print("Jumlah ikan salmon =",nSalmon,", Jumlah ikan seabass =",nSeabass,", -> Total ikan =",nTotal)
print("Probabilitas kelas salmon =",ProbSalmon,", Probabilitas kelas seabass =",ProbSeabass)

Diketahui :
Jumlah ikan salmon = 74 , Jumlah ikan seabass = 57 , -> Total ikan = 131
Probabilitas kelas salmon = 0.5648854961832062 , Probabilitas kelas seabass = 0.4351145038167939

In [11]:
ProbLenGSalmon = probXgivenY(data.csalmon,nSalmon)
ProbLenGSeabass = probXgivenY(data.cseabass,nSeabass)

In [12]:
d = {'P(X=Length | Y = Salmon)': ProbLenGSalmon, 'P(X=Length | Y = Seabass)': ProbLenGSeabass}
pd.DataFrame(d)

    P(X=Length | Y = Salmon)  P(X=Length | Y = Seabass)
0                   0.000000                   0.000000
1                   0.027027                   0.000000
2                   0.108108                   0.000000
3                   0.054054                   0.000000
4                   0.094595                   0.000000
5                   0.135135                   0.000000
6                   0.162162                   0.000000
7                   0.108108                   0.017544
8                   0.081081                   0.000000
9                   0.108108                   0.052632
10                  0.054054                   0.052632
11                  0.040541                   0.070175
12                  0.013514                   0.105263
13                  0.013514                   0.087719
14                  0.000000                   0.210526
15                  0.000000                   0.157895
16                  0.000000                   0.157895
17                  0.000000                   0.035088
18                  0.000000                   0.017544
19                  0.000000                   0.035088

Nomor 3

In [13]:
ProbSalmonGivenLen = probYgivenX(ProbLenGSalmon,ProbSalmon)
ProbSeabassGivenLen = probYgivenX(ProbLenGSeabass,ProbSeabass)

In [14]:
a = {'P(Y = Salmon|X=Length )': ProbSalmonGivenLen, 'P(Y = Seabass|X=Length)': ProbSeabassGivenLen}
pd.DataFrame(a)

    P(Y = Salmon|X=Length )  P(Y = Seabass|X=Length)
0                  0.000000                 0.000000
1                  0.015267                 0.000000
2                  0.061069                 0.000000
3                  0.030534                 0.000000
4                  0.053435                 0.000000
5                  0.076336                 0.000000
6                  0.091603                 0.000000
7                  0.061069                 0.007634
8                  0.045802                 0.000000
9                  0.061069                 0.022901
10                 0.030534                 0.022901
11                 0.022901                 0.030534
12                 0.007634                 0.045802
13                 0.007634                 0.038168
14                 0.000000                 0.091603
15                 0.000000                 0.068702
16                 0.000000                 0.068702
17                 0.000000                 0.015267
18                 0.000000                 0.007634
19                 0.000000                 0.015267

In [15]:
Prediction_Posterior = decision(ProbSalmonGivenLen,ProbSeabassGivenLen,1)

In [16]:
Prediction_Posterior

['unknown',
 'Salmon',
 'Salmon',
 'Salmon',
 'Salmon',
 'Salmon',
 'Salmon',
 'Salmon',
 'Salmon',
 'Salmon',
 'Salmon',
 'Seabass',
 'Seabass',
 'Seabass',
 'Seabass',
 'Seabass',
 'Seabass',
 'Seabass',
 'Seabass',
 'Seabass']

Nomor 4

In [17]:
LR = LikelihoodRatio(ProbLenGSalmon,ProbLenGSeabass)

In [18]:
threshold = ((1-0)*ProbSeabass)/((1-0)*ProbSalmon)

In [19]:
threshold

0.7702702702702702

In [20]:
LR

[1.0,
 27027.02702702703,
 108108.10810810812,
 54054.05405405406,
 94594.5945945946,
 135135.13513513515,
 162162.1621621622,
 6.162162162162163,
 81081.0810810811,
 2.0540540540540544,
 1.0270270270270272,
 0.5777027027027027,
 0.1283783783783784,
 0.15405405405405406,
 4.75e-06,
 6.333333333333333e-06,
 6.333333333333333e-06,
 2.85e-05,
 5.7e-05,
 2.85e-05]

In [21]:
Prediction_minimumrisk = decision(LR,threshold,2)

In [22]:
Prediction_minimumrisk

['Salmon',
 'Salmon',
 'Salmon',
 'Salmon',
 'Salmon',
 'Salmon',
 'Salmon',
 'Salmon',
 'Salmon',
 'Salmon',
 'Salmon',
 'Seabass',
 'Seabass',
 'Seabass',
 'Seabass',
 'Seabass',
 'Seabass',
 'Seabass',
 'Seabass',
 'Seabass']